<ion-header>
  <ion-navbar>
    <ion-title>离线视频</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <page-null *ngIf="video!=null&&video.length==0"></page-null>
  <div *ngIf="video!=null">
    <div class="video-content" *ngFor="let v of video;let i = index">
      <img src="assets/images/play.png"/>
      <div class="video-text" (click)="setUrl(i)">{{v.tit}}
        <p>{{getDate(i)}}</p>
      </div>
      <div class="video-delete" (click)="delete(i)"></div>
    </div>
  </div>
</ion-content>
