page-live {
    ion-content{
        background-color: #fff !important;
    }
    ion-segment{
        border-bottom: 1px solid #f1f1f1;
    }
    ion-segment .segment-button{
        background-color: #fff !important;
        font-size:16px !important;
        color:#000 !important;
        border:0px !important;
        height:40px !important;
        line-height: 40px !important;
    }
    ion-segment .segment-button-midd{
        border-right:1px solid #f1f1f1 !important
    }
    ion-segment .segment-activated{
        color:color($colors,top) !important;
    }
    .dlist{
        background-color: #fff;
    }
    .dlist .item{
        display: none;
    }
    .dlist-content{
        display: flex;
        align-items:center;
        img{
            width:25px;
            margin-left:10px;
        }
        div{
            margin-left:20px;
            font-size:16px;
            p{
                font-size:14px;
                margin-top:5px;
                color:#999;
            }
        }
    }
    .dlist-title{
        display: flex;
        padding:20px 20px;
        font-size:16px;
        flex-direction: row;
        border-bottom: 1px solid #e1e1e1;
        justify-content:space-between;
        align-items:center;
    }
    .dlist-title ul{
        margin:0;
        padding:0;
    }
    .dlist input[type="checkbox"]:checked~.item{
        display: block;
    }
    .dlist input[type="checkbox"]:checked+label{
        ion-icon:first-child{
            display: none;
        }
        ion-icon:last-child{
            display: inline-block !important;
        }
    }
}
