<ion-header>
  <ion-navbar>
    <ion-title (click)="choose()">
      {{fixtit(subject.name)}}<div class="bookbt"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<div id="bookpage">
  <div id="bookp1">
    <div *ngFor="let s of subs;let i=index" (click)="seg=i" [class]="i==seg?'activated':''">
      {{s.mainCourseAppName}}
    </div>
  </div>
  <div id="bookp2">
    <div *ngFor="let s of subs;let i=index">
    <div *ngIf="i==seg">
      <div *ngFor="let s of s.children;let j=index" (click)="setSubject(i,j)" [class]="i==segi&&j==segj?'activatedd':''">
      <button ion-item >
        <ion-label>{{s.subCourseName}}</ion-label>
      </button>
      </div>
    </div>
    </div>
  </div>
</div>

<ion-content no-padding>
  <div class="score" style="background-image: url(assets/images/headb.jpg)">
    <ul style="background-image: url(assets/images/head.jpg)">
      <li>
        <p>答对</p>
        <span>{{score.right}}</span>
      </li>
      <li>
        <p>已做题数</p>
        <span>{{score.all}}</span>
      </li>
      <li>
        <p>答错</p>
        <span>{{score.all-score.right}}</span>
      </li>
    </ul>
  </div>

  <ion-slides autoplay=6000 speed=2000>
    <ion-slide *ngFor="let s of slides;let i = index" [style.background-image]="getslide(i)" (click)="slidec()"></ion-slide>
  </ion-slides>

  <div class="card">
    <ul *ngFor="let card of cards;let i = index" [style.background-image]="card.pic" (click)="list(i)" [hidden]="subsItem[i]==0">
      <div>{{card.tit}}<p>{{card.txt}}</p></div>
    </ul>
    <ul class="card-li">
      <li style="background-image:url(assets/images/item6.png)" (click)="list(10)">
      错题
      </li>
      <li style="background-image:url(assets/images/item7.png)" (click)="list(11)">
      收藏
      </li>
      <li style="background-image:url(assets/images/item8.png)" (click)="list(12)">
      笔记
      </li>
    </ul>
  </div>
</ion-content>
