<ion-header>
  <ion-navbar>
    <ion-title>题目搜索</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="题目标题"></ion-searchbar>
  <div class="find-item" *ngFor="let item of items;let i=index">
    <!--<div *ngIf="item.title==''">没有搜索到符合条件的结果！</div>
    <div *ngIf="item.title!=''">-->
    <div class="item-tit" [innerHtml]="'('+(i+1)+').'+item.title"></div>
    <div class="item-cot" [innerHtml]="item.content"></div>
    <div class="item-ans" [innerHtml]="'答案: '+item.answer"></div>
    <!--</div>-->
  </div>
</ion-content>
